/* pisanie CSS w zewnętrzym pliku o rozszerzeniu .css */

/* 
! - important
N - style inline
I - łapanie za pomocą ID
C - Łapanie za pomocą Class
E -  łapanie po nazwie Elementu (nazwy tagu)
*/

.page {
    /* background-color: magenta; */
} 
            
body {
    background-color: #999;
}

#page {
    /* background-color: lightseagreen; */
}


.box {
    display: flex;
    /* przesuwanie elementów w osi x */
    /* justify-content: flex-end; */

    /* przesuwanie elementów w osi y */
    align-items: center;

    background-color: mediumspringgreen;
    height: 50px;
    width: 150px;
    border-radius: 25px;
}

.circle {
    background-color: yellow;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

